.footer-container {
  display: flex;
  background: #444b3d;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 300px;
}
@media screen and (max-width: 1039px) {
  .footer-container {
    display: block;
  }
}

.footer.left {
  margin: auto;
  justify-content: center;
  padding: 12px;
}

.footer-logo {
  margin-top: 20px;
  margin-left: 30px;
}
.footer-left-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 60px;
}
.visa-img,
.mastercard-img,
.mtn-img,
.airtel-img {
  padding: 5px;
  margin-right: 10px;
}

.footer-links {
  color: #fff;
}
.link-heading,
.contact-heading,
.connect-heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.footer-links a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.footer-time {
}

.kigali {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  color: #8ec543;
  margin-top: 10px;
}
.kigali::after {
  position: absolute;
  content: "";
  border: 1px solid #fff;
  width: 20%;
  bottom: 0;
  left: calc(15% - 10%);
}
.kampala {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  color: #8ec543;
  margin-top: 10px;
}
.kampala::after {
  position: absolute;
  content: "";
  border: 1px solid #fff;
  width: 30%;
  bottom: 0;
  left: calc(15% - 10%);
}

.footer-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}

.footer-right-contact {
  color: #fff;
}

.footer-right-connect {
  color: #fff;
}
.footer-right-img {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 12px;
  margin-left: 50%;
  justify-content: center;
  background-color: blue;
  height: 75px;
  width: 25px;
}

.footer-banner {
  width: 100%;
  height: 30px;
  background-color: gray;
  color: #fff;
  padding: 5px;
}
